.correctOption{
	background-color: #2ecc71;
	color: #fff !important;
}

.fullWidth{
	width: 100%;
}

.componentButtonContainer-left{
	margin: 0 !important;
	padding: 0 5px 0 0;
}

.componentButtonContainer-right{
	margin: 0 !important;
	padding: 0 0 0 5px;
}

.componentButtonsContainer{
	padding: 0;
	margin: 0 !important;
}

.incorrectOption{
	background-color: #d9534f;
	color: #fff !important;
}

.optionButton{
	color: #fff !important;
}

.textBlack{
	color: #000;
}

.paddingLeft{
	padding-left: 5px;
}

.video-delete{
    position: absolute;
    font-size: 30px;
    padding: 0 10px;
    z-index: 11;
    color: #FFFFFF;
    opacity: 0.9;
    -moz-transition:-moz-transform 0.5s ease-in;
	-webkit-transition:-webkit-transform 0.5s ease-in;
	-o-transition:-o-transform 0.5s ease-in;
}

.video-delete:hover{
	color: #FFFFFF;
	-moz-transform:scale(1.2);
	-webkit-transform:scale(1.2);
	-o-transform:scale(1.2);
}

.canvas-container {
	position: absolute !important;
	top: 0;
	left: 0;
	width: 100% !important;
	height: 100% !important;
	z-index: 100000;
}

.canvas-container canvas {
	position: absolute !important;
	top: 0;
	left: 0;
	width: 100% !important;
	height: 100% !important;
}

.noVideo{
	font-size: 24px;
    text-align: center;
    margin: 30px 0;
}

.noComponent{
	font-size: 25px;
    font-weight: 700;
    text-align: center;
    border: 4px dashed #E0E0E0;
    border-radius: 6px;
    padding: 20px;
    color: #E0E0E0;
}

.hotspotDetails span{
    font-size: 15px;
    width: 85px;
    margin-right: 5px;
}

.hotspotDetails div{
	margin: 0 0 10px;
}

.hotspotDetails > div > i{
	float: right;
	padding: 7px 0;
	color: #DADADA;
}

.noBorder{
	border: 0;
}

.noPadding{
	padding: 0;
}

.SocialMedia{
    position: absolute;
    z-index: 999999;
    top: 100px;
    left: 180px;
    margin: 0;
    opacity: 0.8;
    min-width: 435px;
}

#PreviewMode{
	display: none;
}

.m-r-sm{
	margin-right: 10px;
}

.component-icon{
	float: left;
	margin-top: 3px !important;
	font-size: 23px;
	margin-left: 3px !important;
}

.tab-content{
	margin-bottom: 0 !important;
}

.hidden2{
	display: none;
}

.quizTemplate{
	position: absolute;
    z-index: 3;
    top: 100px;
    left: 180px;
    margin: 0;
	background-color: rgba(255,255,255,0.9) !important;
    border-radius: 3px !important;
    z-index: 999999;
}

.parallel-tip{
	color: #0AA699;
    font-size: 16px;
    margin-bottom: 20px;
    text-align: center;
}

.quizOption{
	font-size: 18px;
	margin-bottom: 5px;
}

.quizOptionText{
	margin-left: 5px;
}

.quizResult{
	width: 100%;
    margin-top: 10px;
}

.commingSoon{
	color: #5D5D5D;
    text-align: center;
    font-size: 26px;
}

/* Product Template desing */
.w-row {
  margin-left: -10px;
  margin-right: -10px;
}
.main-container {
  height: 760px;
}
.producttemplate {
  display: block;
  width: 500px;
	position: absolute;
  z-index: 999999;
  top: 80px;
  left: 100px;
  margin: 0;
}
.productimage {
  position: relative;
  float: left;
  min-height: 1px;
  width: 41.64%;
  height: 280px;
  background-color: transparent;
  background-position: 0px 0px;
  background-size: 260px;
}
.productdetails {
  position: relative;
  float: right;
  width: 100%;
  min-height: 1px;
  padding-left: 10px;
  padding-right: 10px;

  width: 58.33333333%;

  height: 280px;
  background-color: rgba(59, 59, 59, 0.87);
}
.producttitle {
  margin-top: 10px;
  font-family:'Open Sans', sans-serif;
  color: white;
  font-weight: 600;
}
.productprice {
  margin-top: 15px;
  font-family:'Open Sans', sans-serif;
  color: #c1bdbd;
  font-size: 46px;
  line-height: 26px;
  font-weight: 800;
}
.productdescription {
  margin-top: 15px;
  font-family:'Open Sans', sans-serif;
  color: #ddd7d7;
  text-align: justify;
}
.buybutton {
  position: absolute;
  left: 0px;
  bottom: 0px;
  width: 100%;
  margin: 0px;
  background-color: #00e2cf;
}
.buybuttontext {
  margin: 20px 15px;
  font-family:'Open Sans', sans-serif;
  font-size: 26px;
  font-weight: 800;
  text-align: center;
	color: #fff;
}

.close-product-info{
	font-size: 22px;
	position: absolute;
	top: 5px;
	right: 10px;
	cursor: pointer;
}


/* Video Player Changes */
.video-js{
  position: initial;
}

.vjs-volume-level{
  background: #FF005E !important;
}

.vjs-slider-handle{
  display: none;
}

.vjs-play-progress{
  background: #FF005E !important;
}

.vjs-timepanel-RS{
  top: -2.4em !important;
}

.vjs-default-skin .vjs-control:focus:before,
.vjs-default-skin .vjs-control:hover:before {
  text-shadow: none;
}

.vjs-default-skin .vjs-control:before{
  text-shadow: none;
}

.vjs-volume-bar{
  height: 0.53em !important;
}

.vjs-default-skin .vjs-volume-control{
  margin-right: 1em !important;
}

.vjs-fullscreen-control{
  display: none !important;
}

.vjs-default-skin.vjs-has-started .vjs-control-bar{
  z-index: 2147483647 !important;
}
