<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1">

    <title>PLAYEDD | Dashboard</title>

    {{content-for 'head'}}

    <link rel="stylesheet" href="assets/vendor.css">
    <link rel="stylesheet" href="assets/playedd.css">
    <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Open+Sans:300italic,400,300,800">
    <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Ubuntu:300,400,700">

    {{content-for 'head-footer'}}

</head>

<body>

    {{content-for 'body'}}

    <script src="assets/vendor.js"></script>
    <script src="assets/playedd.js"></script>

    {{content-for 'body-footer'}}

</body>
</html>
