<div id="wrapper">
    <div id="header">
        <div class="logo-area clearfix">
            <a href="#" class="logo"></a>
        </div>
        <div class="tools-bar">
            <ul class="nav navbar-nav navbar-right tooltip-area">
                <li>
                    <button class="btn btn-circle btn-header-search"><i class="fa fa-search"></i>
                    </button>
                </li>
                <li>
                    <a href="#" class="nav-collapse avatar-header" data-toggle="tooltip" title="Show / hide  menu" data-container="body" data-placement="bottom">
                        <img alt="" src="img/avatar.jpg" class="circle">
                        <span class="badge">3</span>
                    </a>
                </li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown">
                        <em><strong>Hi</strong>, Chaitanya </em> <i class="dropdown-icon fa fa-angle-down"></i>
                    </a>
                    <ul class="dropdown-menu pull-right icon-right arrow">
                        <li><a href="#"><i class="fa fa-user"></i> Profile</a>
                        </li>
                        <li><a href="#"><i class="fa fa-cog"></i> Setting </a>
                        </li>
                        <li class="divider"></li>
                        <li><a href="#"><i class="fa fa-sign-out"></i> Signout </a>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>

    <div class="widget-top-search">
        <span class="icon"><a class="close-header-search"><i class="fa fa-times"></i></a></span>
        <form id="top-search">
            <h2><strong>Quick</strong> Search</h2>
            <div class="input-group search-container">
                <input type="text" name="q" placeholder="Find something..." class="form-control search-box" />
            </div>
        </form>
    </div>

    <div id="md-notification" class="modal fade md-stickTop bg-danger" tabindex="-1" data-width="500">
        <div class="modal-header bd-danger-darken">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true"><i class="fa fa-times"></i>
            </button>
            <h4 class="modal-title"><i class="fa fa-bell-o"></i> Notification</h4>
        </div>
        <div class="modal-body" style="padding:0">
            <div class="widget-im notification">
                <ul>
                    <li>
                        <section class="thumbnail-in">
                            <div class="widget-im-tools tooltip-area pull-right">
                                <span>
                                <time class="timeago lasted" datetime="2014">when you opened the page</time>
                            </span>
                                <span>
                                <a href="javascript:void(0)" class="im-action" data-toggle="tooltip" data-placement="left" title="Action"><i class="fa fa-keyboard-o"></i></a>
                            </span>
                            </div>
                            <h4>Your request approved</h4>
                            <div class="im-thumbnail bg-theme-inverse"><i class="fa fa-check"></i>
                            </div>
                            <div class="pre-text">One Button (click to remove this)</div>
                        </section>
                        <div class="im-confirm-group">
                            <div class=" btn-group btn-group-justified">
                                <a class="btn btn-inverse im-confirm" href="javascript:void(0)" data-confirm="accept">Accept.</a>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    {{outlet}}
</div>
