{{!-- Main Navigation bar to be loaded here --}}
<div id="nav">
  <div id="nav-scroll">
    <div class="mail-menu">
      <ul>
        <li class="mail-menu-label">
          <strong>Video</strong> Details
        </li>
        <li>
          <a data-toggle="modal" href="#md-videoDetails"><i class="fa fa-file"></i> Edit Video Details</a>
        </li>
      </ul>
    </div>
    <div class="mail-menu">
      <ul>
        <li class="mail-menu-label">
          <strong>Add</strong> Hotspot
        </li>
        <li>
          <a data-toggle="modal" href="#md-link"><i class="fa fa-object-ungroup"></i> Video Hotspot</a>
        </li>
        <li>
          <a data-toggle="modal" href="#md-socialHotspot"><i class="fa fa-object-group"></i> Social Media Hotspot</a>
        </li>
        <li>
          <a data-toggle="modal" href="#md-multimedia"><i class="fa fa-shopping-cart"></i>Product Display</a>
        </li>
        <li>
          <a data-toggle="modal" href="#md-continuation"><i class="fa fa-clone"></i> Continuation</a>
        </li>
      </ul>
    </div>
    <div class="mail-menu">
      <ul>
        <li class="mail-menu-label">
          <strong>Add</strong> Audio
        </li>
        <li>
          <a data-toggle="modal" href="#md-audio"><i class="fa fa-volume-up"></i> Select Audio File</a>
        </li>
      </ul>
    </div>
    <div class="mail-menu" id="EditDetails">
      <ul>
        <li class="mail-menu-label">
          <strong>Video</strong> Components
        </li>
        <li>
          <a data-toggle="modal" href="#md-quiz"><i class="fa fa-question"></i> Quiz</a>
        </li>
        <li>
          <a data-toggle="modal" href="#md-parallel"><i class="fa fa-random"></i> Parallel Play</a>
        </li>
      </ul>
    </div>
    <div class="mail-menu">
      <ul>
        <li class="mail-menu-label">
          <strong>Save</strong> & Publish
        </li>
        <li>
          <a data-toggle="modal" href="#md-comingSoon"><i class="fa fa-save"></i> Save This Video</a>
        </li>
        <li>
          <a data-toggle="modal" href="#md-comingSoon"><i class="fa fa-upload"></i> Publish This Video</a>
        </li>
      </ul>
    </div>
  </div>
  <!-- //nav-scroller-->
</div>

{{!-- Main content to be loaded here --}}
<div id="main">
  <div id="mailbox">
    <div id="nav-scroll" id="ComponentsContainer">
      <div class="mail-list">
        <header>
          <h2 class="header-text">Components</h2>
        </header>
        <div class="panel-group" id="accordion">
          {{#each model.video.components as |component|}}
          {{#if component.isHotspot}}
          <div class="panel panel-shadow" id="key_{{component.hotspot.id}}">
            <div class="panel-heading noPadding">
              <a {{ action "selectHotspot" component }} class="btn btn-theme-inverse btn-lg" data-toggle="collapse" data-parent="#accordion" href="#{{component.hotspot.id}}"><i class="collapse-caret fa fa-angle-down"></i><i class="fa fa-video-camera component-icon"></i> {{component.hotspot.title}}</a>
            </div>
            <div id="{{component.hotspot.id}}" class="panel-collapse collapse">
              <div class="panel-body noBorder hotspotDetails">
                <div><span class="label label-default">Start Time</span> {{component.starttime}}</div>
                <div><span class="label label-default">End Time</span> {{component.endtime}}</div>
                <div><span class="label label-default">To Video</span> {{component.hotspot.toVideo.title}}</div>
                <div class="col-lg-12 componentButtonsContainer">
                  <div class="col-lg-6 componentButtonContainer-left">
                    <button type="submit" {{action "deleteHotspot" component}} class="btn btn-sm btn-success fullWidth"><i class="fa fa-trash-o"></i> Delete</button>
                  </div>
                  <div class="col-lg-6 componentButtonContainer-right">
                    <button type="submit" data-toggle="modal" href="#md-updateVideoHotspot" class="btn btn-sm btn-success fullWidth"><i class="fa fa-pencil-square-o"></i> Edit</button>
                  </div>
                </div>
              </div>
            </div>
          </div>
          {{else if component.isQuiz}}
          <div class="panel panel-shadow" id="key_{{component.quiz.id}}">
            <div class="panel-heading noPadding">
              <a {{ action "selectQuiz" component }} class="btn btn-inverse btn-lg" data-toggle="collapse" data-parent="#accordion" href="#{{component.quiz.id}}"><i class="collapse-caret fa fa-angle-down"></i><i class="fa fa-question component-icon"></i> {{component.quiz.question}}</a>
            </div>
            <div id="{{component.quiz.id}}" class="panel-collapse collapse">
              <div class="panel-body noBorder hotspotDetails">
                <div><span class="label bg-danger">Start Time</span> {{component.starttime}}</div>
                <div><span class="label bg-danger">End Time</span> {{component.endtime}}</div>
                {{#each component.quiz.options as |option|}}
                {{#if option.isCorrect}}
                <div><span class="label bg-success"><i class="fa fa-check"></i></span> {{option.option}}</div>
                {{else}}
                <div><span class="label label-default"><i class="fa fa-times"></i></span> {{option.option}}</div>
                {{/if}}
                {{/each}}
                <div class="col-lg-12 componentButtonsContainer">
                  <div class="col-lg-6 componentButtonContainer-left">
                    <button type="submit" {{action "deleteQuiz" component}} class="btn btn-sm btn-success fullWidth"><i class="fa fa-trash-o"></i> Delete</button>
                  </div>
                  <div class="col-lg-6 componentButtonContainer-right">
                    <button data-toggle="modal" href="#md-EDITquiz" type="submit" class="btn btn-sm btn-success fullWidth"><i class="fa fa-pencil-square-o"></i> Edit</button>
                  </div>
                </div>
              </div>
            </div>
          </div>
          {{else if component.isSocial}}
          <div class="panel panel-shadow" id="key_{{component.social.id}}">
            <div class="panel-heading noPadding">
              <a {{ action "selectSocial" component }} class="btn btn-danger btn-lg" data-toggle="collapse" data-parent="#accordion" href="#{{component.social.id}}"><i class="collapse-caret fa fa-angle-down"></i><i class="fa fa-share-square-o component-icon"></i> Social Buttons</a>
            </div>
            <div id="{{component.social.id}}" class="panel-collapse collapse">
              <div class="panel-body noBorder hotspotDetails">
                <div><span class="label bg-danger">Start Time</span> {{component.starttime}}</div>
                <div><span class="label bg-danger">End Time</span> {{component.endtime}}</div>

                <div><span class="label label-default"><i class="fa fa-facebook"></i></span> {{component.social.facebook}}</div>
                <div><span class="label label-default"><i class="fa fa-twitter"></i></span> {{component.social.twitter}}</div>
                <div class="col-lg-12 componentButtonsContainer">
                  <div class="col-lg-6 componentButtonContainer-left">
                    <button type="submit" {{action "deleteSocial" component}} class="btn btn-sm btn-success fullWidth"><i class="fa fa-trash-o"></i> Delete</button>
                  </div>
                  <div class="col-lg-6 componentButtonContainer-right">
                    <button data-toggle="modal" href="#md-EDITsocialHotspot" class="btn btn-sm btn-success fullWidth"><i class="fa fa-pencil-square-o"></i> Edit</button>
                  </div>
                </div>
              </div>
            </div>
          </div>
          {{else if component.isContinuation}}
          <div class="panel panel-shadow" id="key_{{component.continuation.id}}">
            <div class="panel-heading noPadding">
              <a {{ action "selectContinuation" component }} class="btn btn-info btn-lg" data-toggle="collapse" data-parent="#accordion" href="#{{component.continuation.id}}"><i class="collapse-caret fa fa-angle-down"></i><i class="fa fa-clone component-icon"></i> Continuation</a>
            </div>
            <div id="{{component.continuation.id}}" class="panel-collapse collapse">
              <div class="panel-body noBorder hotspotDetails">
                <div><span class="label label-default">To Video</span> {{component.continuation.toVideo.title}}</div>
                <div class="col-lg-12 componentButtonsContainer">
                  <div class="col-lg-6 componentButtonContainer-left">
                    <button type="submit" {{action "deleteContinuation" component}} class="btn btn-sm btn-success fullWidth"><i class="fa fa-trash-o"></i> Delete</button>
                  </div>
                  <div class="col-lg-6 componentButtonContainer-right">
                    <button data-toggle="modal" href="#md-EDITcontinuation" class="btn btn-sm btn-success fullWidth"><i class="fa fa-pencil-square-o"></i> Edit</button>
                  </div>
                </div>
              </div>
            </div>
          </div>
          {{else if component.isParallel}}
          <div class="panel panel-shadow" id="key_{{component.parallel.id}}">
            <div class="panel-heading noPadding">
              <a {{ action "selectParallel" component }} class="btn btn-warning btn-lg" data-toggle="collapse" data-parent="#accordion" href="#{{component.parallel.id}}"><i class="collapse-caret fa fa-angle-down"></i><i class="fa fa-random component-icon"></i> Parallel Play</a>
            </div>
            <div id="{{component.parallel.id}}" class="panel-collapse collapse">
              <div class="panel-body noBorder hotspotDetails">
                <div><span class="label label-default">Video</span> {{component.parallel.parallelVideo.title}}</div>
                <div><span class="label bg-danger">Start Time</span> {{component.starttime}}</div>
                <div><span class="label bg-danger">End Time</span> {{component.endtime}}</div>

                <div class="col-lg-12 componentButtonsContainer">
                  <div class="col-lg-6 componentButtonContainer-left">
                    <button type="submit" {{action "deleteParallel" component}} class="btn btn-sm btn-success fullWidth"><i class="fa fa-trash-o"></i> Delete</button>
                  </div>
                  <div class="col-lg-6 componentButtonContainer-right">
                    <button data-toggle="modal" href="#md-EDITparallel" class="btn btn-sm btn-success fullWidth"><i class="fa fa-pencil-square-o"></i> Edit</button>
                  </div>
                </div>
              </div>
            </div>
          </div>
          {{else if component.isMultimedia}}
          <div class="panel panel-shadow" id="key_{{component.multimedia.id}}">
            <div class="panel-heading noPadding">
              <a {{ action "selectMultimedia" component }} class="btn btn-warning btn-lg" data-toggle="collapse" data-parent="#accordion" href="#{{component.multimedia.id}}"><i class="collapse-caret fa fa-angle-down"></i><i class="fa fa-shopping-cart component-icon"></i> {{ component.multimedia.title }}</a>
            </div>
            <div id="{{component.multimedia.id}}" class="panel-collapse collapse">
              <div class="panel-body noBorder hotspotDetails">
                <div><span class="label label-default">Title</span> {{component.multimedia.title}}</div>
                <div><span class="label label-default">Price</span> {{component.multimedia.price}}</div>
                <div><span class="label bg-danger">Start Time</span> {{component.starttime}}</div>
                <div><span class="label bg-danger">End Time</span> {{component.endtime}}</div>

                <div class="col-lg-12 componentButtonsContainer">
                  <div class="col-lg-6 componentButtonContainer-left">
                    <button type="submit" {{action "deleteMultimedia" component}} class="btn btn-sm btn-success fullWidth"><i class="fa fa-trash-o"></i> Delete</button>
                  </div>
                  <div class="col-lg-6 componentButtonContainer-right">
                    <button data-toggle="modal" href="#md-EDITmultimedia" class="btn btn-sm btn-success fullWidth"><i class="fa fa-pencil-square-o"></i> Edit</button>
                  </div>
                </div>
              </div>
            </div>
          </div>
          {{/if}}
          {{else}}
          <p class="noComponent">Nothing Here</p>
          {{/each}}
          <p>To delete, select the component and press D.</p>
        </div>
      </div>
    </div>
  </div>
  <div id="content" class="after-mail-box">
    <div class="row">
      <div id="PreviewMode" class="col-lg-12">
        <div class="videoWrapper">
          <div id="MainCanvas">

          </div>
          <div id="videoContainer">

          </div>
        </div>
      </div>
      <div id="EditMode" class="col-lg-12">
        <div class="videoWrapper">
          <div id="htmlContainer">

          </div>
          <div id="canvasContainer"></div>
          <video controls id="MainPlayer" class="video-js vjs-default-skin" height="auto" width="" data-setup={}>
            <source id='mp4' src="video/video.mp4" type='video/mp4'>
          </video>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-12">
        <section class="panel">
          <div class="tabbable">
            <ul class="nav nav-tabs" data-provide="tabdrop">
              <li class="dropdown pull-right tabdrop hide"><a class="dropdown-toggle" data-toggle="dropdown" href="#"><i class="fa fa-align-right"></i> <span class="badge"></span></a>
                <ul class="dropdown-menu"></ul>
              </li>
              <li>
                <a href="#" id="prevtab" data-change="prev"><i class="fa fa-chevron-left"></i></a>
              </li>
              <li>
                <a href="#" id="nexttab" class="change" data-change="next"><i class="fa fa-chevron-right"></i></a>
              </li>
              <li>
                <a data-toggle="modal" href="#md-upload" id="AddVideoModel" class="change" data-change="next"><i class="fa fa-plus"></i></a>
              </li>
              {{#if isPreview}}
              <li>
                <a href="" id="Preview" {{action "HidePreview"}}><i class="fa fa-times"></i> Cancel</a>
              </li>
              {{else}}
              <li>
                <a href="" id="Preview" {{action "PreviewVideo"}}><i class="fa fa-eye"></i> Preview</a>
              </li>
              {{/if}}
            </ul>
            <div class="tab-content" id="VideoContainer">
              <div class="tab-pane fade active in" id="tab1">
                <div class="row row-clear gallery-albums">
                  {{#each model.videos as |video|}}
                  <div class="col-sm-4 padding-b max-res-support">
                    <a class="video-delete" href="" {{action "deleteVideo" video}} title="move to trash"><i class="fa fa-times"></i></a>
                    <video id="videoThumb" class="img-preview" muted {{action "setVideo" video on="click"}}>
                      <source id='mp4' src="{{video.file}}" type='video/mp4'>
                    </video>
                    <span class="video-title">{{video.title}}</span>
                  </div>
                  {{else}}
                  <p class="noVideo">Please click on <i class="fa fa-plus"></i> to add videos.</p>
                  {{/each}}
                </div>
              </div>
              <!-- //tab1 -->
            </div>
            <!-- //tab-content -->
          </div>
        </section>
      </div>
    </div>
    <!-- //content > row-->
  </div>
  <!-- //content-->
  <footer id="site-footer">
    <section>&copy; Copyright 2014, By RatCho Media Private Limited</section>
  </footer>
</div>

{{!-- Upload Model For adding videos  --}}
<div id="md-upload" class="modal fade md-slideUp bg-theme-inverse" tabindex="-1" data-width="550">
  <div class="modal-header bd-theme-inverse-darken">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true"><i class="fa fa-times"></i>
    </button>
    <h4 class="modal-title"><i class="fa fa-inbox"></i> Video Uploader</h4>
  </div>
  <div class="modal-body" style="padding:0">
    <section class="panel">
      <div class="panel-body">
        {{file-upload url="/upload"}}
      </div>
    </section>
  </div>
</div>

{{!-- Hotspot Model to be loaded here --}}
<div id="md-link" class="modal fade md-slideUp bg-theme-inverse" tabindex="-1" data-width="550">
  <div class="modal-header bd-theme-inverse-darken">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true"><i class="fa fa-times"></i>
    </button>
    <h4 class="modal-title"><i class="fa fa-inbox"></i> Link the HotSpot</h4>
  </div>
  <div class="modal-body" style="padding:0">
    <section class="panel">
      <div class="panel-body">
        <form {{action "addHotspot" on="submit"}} class="form-horizontal labelcustomize" data-collabel="3" data-alignlabel="left" data-label="">
          <div class="form-group">
            <label class="control-label col-md-3" style="text-align: left;"><span class="color">Name</span></label>
            <div class="col-md-9">
              {{input id="HotspotName" class="form-control input-lg" value=HotspotName}}
            </div>
          </div>
          <div class="form-group">
            <label class="control-label col-md-3" style="text-align: left;"><span class="color">Start Time</span></label>
            <div class="col-md-9">
              {{input id="startTimeHandle" class="form-control input-lg" value=startTimeHandle}}
            </div>
          </div>
          <div class="form-group">
            <label class="control-label col-md-3" style="text-align: left;"><span class="color">End Time</span></label>
            <div class="col-md-9">
              {{input id="endTimeHandle" class="form-control input-lg" value=endTimeHandle}}
            </div>
          </div>

          <div class="form-group">
            <label class="control-label col-md-3" style="text-align: left;"><span class="color">Linking Video</span></label>
            <div class="col-md-9">
              {{#x-select value=HotspotVideo class="form-control input-lg"}}
                {{#each model.videos as |video|}}
                  {{#x-option value=video}} {{video.title}} {{/x-option}}
                {{/each}}
              {{/x-select}}
            </div>
          </div>
          <div class="form-group offset">
            <div class="col-md-offset-3 col-md-9">
              <button type="submit" class="btn btn-lg btn-success">Add the hotspot</button>
            </div>
          </div>
        </form>
      </div>
    </section>
  </div>
</div>

{{!-- ##EDIT## Hotspot Model to be loaded here --}}
<div id="md-updateVideoHotspot" class="modal fade md-slideUp bg-theme-inverse" tabindex="-1" data-width="550">
  <div class="modal-header bd-theme-inverse-darken">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true"><i class="fa fa-times"></i>
    </button>
    <h4 class="modal-title"><i class="fa fa-inbox"></i> Edit Video Hotspot</h4>
  </div>
  <div class="modal-body" style="padding:0">
    <section class="panel">
      <div class="panel-body">
        <form {{action "addHotspot" on="submit"}} class="form-horizontal labelcustomize" data-collabel="3" data-alignlabel="left" data-label="">
          <div class="form-group">
            <label class="control-label col-md-3" style="text-align: left;"><span class="color">Name</span></label>
            <div class="col-md-9">
              {{input id="EditHotspotName" class="form-control input-lg" value=model.hotspot.title}}
            </div>
          </div>
          <div class="form-group">
            <label class="control-label col-md-3" style="text-align: left;"><span class="color">Linking Video </span></label>
            <div class="col-md-9">
              {{#x-select value=model.hotspot.toVideo class="form-control input-lg"}}
                {{#each model.videos as |video|}}
                  {{#x-option value=video}} {{video.title}} {{/x-option}}
                {{/each}}
              {{/x-select}}
            </div>
          </div>
          <div class="form-group">
            <label class="control-label col-md-3" style="text-align: left;"><span class="color">Start Time</span></label>
            <div class="col-md-9">
              {{input id="EditStartTimeHandle" class="form-control input-lg" value=model.listcomp.starttime}}
            </div>
          </div>
          <div class="form-group">
            <label class="control-label col-md-3" style="text-align: left;"><span class="color">End Time</span></label>
            <div class="col-md-9">
              {{input id="EditEndTimeHandle" class="form-control input-lg" value=model.listcomp.endtime}}
            </div>
          </div>

          <div class="form-group offset">
            <div class="col-md-offset-3 col-md-9">
              <button type="submit" data-dismiss="modal" class="btn btn-lg btn-success">Update Video Hotspot</button>
            </div>
          </div>
        </form>
      </div>
    </section>
  </div>
</div>

{{!-- Continuation Model to be loaded here --}}
<div id="md-continuation" class="modal fade md-slideUp bg-theme-inverse" tabindex="-1" data-width="550">
  <div class="modal-header bd-theme-inverse-darken">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true"><i class="fa fa-times"></i>
    </button>
    <h4 class="modal-title"><i class="fa fa-clone"></i> Add Continuation</h4>
  </div>
  <div class="modal-body" style="padding:0">
    <section class="panel">
      <div class="panel-body">
        <form {{action "addContinuation" on="submit"}} class="form-horizontal labelcustomize" data-collabel="3" data-alignlabel="left" data-label="">
          <div class="form-group">
            <label class="control-label col-md-3" style="text-align: left;"><span class="color">To Video </span></label>
            <div class="col-md-9">
              {{#x-select value=ToVideoContinuation class="form-control input-lg"}}
                {{#each model.videos as |video|}}
                  {{#x-option value=video}} {{video.title}} {{/x-option}}
                {{/each}}
              {{/x-select}}
            </div>
          </div>
          <div class="form-group offset">
            <div class="col-md-offset-3 col-md-9">
              <button type="submit" class="btn btn-lg btn-success">Add Continuation</button>
            </div>
          </div>
        </form>
      </div>
    </section>
  </div>
</div>

{{!-- ##EDIT## Continuation Model to be loaded here --}}
<div id="md-EDITcontinuation" class="modal fade md-slideUp bg-theme-inverse" tabindex="-1" data-width="550">
  <div class="modal-header bd-theme-inverse-darken">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true"><i class="fa fa-times"></i>
    </button>
    <h4 class="modal-title"><i class="fa fa-clone"></i> Edit Continuation</h4>
  </div>
  <div class="modal-body" style="padding:0">
    <section class="panel">
      <div class="panel-body">
        <form class="form-horizontal labelcustomize" data-collabel="3" data-alignlabel="left" data-label="">
          <div class="form-group">
            <label class="control-label col-md-3" style="text-align: left;"><span class="color">To Video </span></label>
            <div class="col-md-9">
              {{#x-select value=model.continuation.toVideo class="form-control input-lg"}}
                {{#each model.videos as |video|}}
                  {{#x-option value=video}} {{video.title}} {{/x-option}}
                {{/each}}
              {{/x-select}}
            </div>
          </div>
          <div class="form-group offset">
            <div class="col-md-offset-3 col-md-9">
              <button type="submit" data-dismiss="modal" class="btn btn-lg btn-success">Update Continuation</button>
            </div>
          </div>
        </form>
      </div>
    </section>
  </div>
</div>

{{!-- Audio Model to be loaded here --}}
<div id="md-audio" class="modal fade md-slideUp bg-theme-inverse" tabindex="-1" data-width="550">
  <div class="modal-header bd-theme-inverse-darken">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true"><i class="fa fa-times"></i>
    </button>
    <h4 class="modal-title"><i class="fa fa-volume-up"></i> Add Audio</h4>
  </div>
  <div class="modal-body" style="padding:0">
    <section class="panel">
      <div class="panel-body">
        <form class="form-horizontal labelcustomize" data-collabel="3" data-alignlabel="left" data-label="">
          <div class="form-group">
            <label class="control-label col-md-3" style="text-align: left;"><span class="color">MP3 Audio File</span></label>
            <div class="col-md-9">
              <div class="fileinput fileinput-new" data-provides="fileinput">
                <span class="btn btn-default btn-file">
                  <span class="fileinput-new text-black">Select file</span><span class="fileinput-exists">Change</span>
                  <input type="file" name="...">
                </span>
                <span class="fileinput-filename paddingLeft textBlack"></span>
                <a href="#" class="close fileinput-exists" data-dismiss="fileinput" style="float: none">&times;</a>
              </div>
            </div>
          </div>
          <div class="form-group offset">
            <div class="col-md-offset-3 col-md-9">
              <button type="submit" class="btn btn-lg btn-success">Add Audio</button>
            </div>
          </div>
        </form>
      </div>
    </section>
  </div>
</div>

{{!-- Multimedia Model to be loaded here --}}
<div id="md-multimedia" class="modal fade md-slideUp bg-theme-inverse" tabindex="-1" data-width="550">
  <div class="modal-header bd-theme-inverse-darken">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true"><i class="fa fa-times"></i>
    </button>
    <h4 class="modal-title"><i class="fa fa-shopping-cart"></i> Add Product </h4>
  </div>
  <div class="modal-body" style="padding:0">
    <section class="panel">
      <div class="panel-body">
        <form {{ action "addProduct" on="submit" }} class="form-horizontal labelcustomize" data-collabel="3" data-alignlabel="left" data-label="">
          <div class="form-group">
            <label class="control-label col-md-3" style="text-align: left;"><span class="color">Product Title</span></label>
            <div class="col-md-9">
              {{input id="productTitle" class="form-control input-lg" value=productTitle}}
            </div>
          </div>
          <div class="form-group">
            <label class="control-label col-md-3" style="text-align: left;"><span class="color">Start Time (ms)</span></label>
            <div class="col-md-9">
              {{input id="startTimeMultimedia" class="form-control input-lg" value=startTimeHandle}}
            </div>
          </div>
          <div class="form-group">
            <label class="control-label col-md-3" style="text-align: left;"><span class="color">End Time (ms)</span></label>
            <div class="col-md-9">
              {{input id="endTimeMultimedia" class="form-control input-lg" value=endTimeHandle}}
            </div>
          </div>
          <div class="form-group">
            <label class="control-label col-md-3" style="text-align: left;"><span class="color">Product Price</span></label>
            <div class="col-md-9">
              {{input id="productPrice" class="form-control input-lg" value=productPrice}}
            </div>
          </div>
          <div class="form-group">
            <label class="control-label col-md-3" style="text-align: left;"><span class="color">Description</span></label>
            <div class="col-md-9">
              {{textarea class="form-control" value=productDescription cols="40" rows="4"}}
            </div>
          </div>
          <div class="form-group">
            <label class="control-label col-md-3" style="text-align: left;"><span class="color">Product Image </span></label>
            <div>
              <div class="fileinput fileinput-new" data-provides="fileinput">
                <div class="fileinput-new thumbnail" style="width: 200px; height: 100px;">
                  <img data-src="">
                </div>
                <div class="fileinput-preview fileinput-exists thumbnail" style="max-width: 200px; max-height: 150px;"></div>
                <div>
                  <span class="btn btn-default btn-file">
                    <span class="fileinput-new">Select image</span>
                    <span class="fileinput-exists">Change</span>
                    <input type="file" name="..." id="imageInput">
                  </span>
                  <a href="#" class="btn btn-default fileinput-exists" data-dismiss="fileinput">
                    <i class="fa fa-trash-o"></i> Remove
                  </a>
                </div>
              </div>
            </div>
          </div>
          <div class="form-group offset">
            <div class="col-md-offset-3 col-md-9">
              <button type="submit" class="btn btn-lg btn-success">Add Product</button>
            </div>
          </div>
        </form>
      </div>
    </section>
  </div>
</div>


{{!-- ##EDIT## Multimedia Model to be loaded here --}}
<div id="md-EDITmultimedia" class="modal fade md-slideUp bg-theme-inverse" tabindex="-1" data-width="550">
  <div class="modal-header bd-theme-inverse-darken">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true"><i class="fa fa-times"></i>
    </button>
    <h4 class="modal-title"><i class="fa fa-shopping-cart"></i> Edit Product </h4>
  </div>
  <div class="modal-body" style="padding:0">
    <section class="panel">
      <div class="panel-body">
        <form class="form-horizontal labelcustomize" data-collabel="3" data-alignlabel="left" data-label="">
          <div class="form-group">
            <label class="control-label col-md-3" style="text-align: left;"><span class="color">Product Title</span></label>
            <div class="col-md-9">
              {{input id="editProductTitle" class="form-control input-lg" value=model.multimedia.title}}
            </div>
          </div>
          <div class="form-group">
            <label class="control-label col-md-3" style="text-align: left;"><span class="color">Start Time (ms)</span></label>
            <div class="col-md-9">
              {{input id="editStartTimeMultimedia" class="form-control input-lg" value=model.listcomp.starttime}}
            </div>
          </div>
          <div class="form-group">
            <label class="control-label col-md-3" style="text-align: left;"><span class="color">End Time (ms)</span></label>
            <div class="col-md-9">
              {{input id="editEndtimeMultimedia" class="form-control input-lg" value=model.listcomp.endtime}}
            </div>
          </div>
          <div class="form-group">
            <label class="control-label col-md-3" style="text-align: left;"><span class="color">Product Price</span></label>
            <div class="col-md-9">
              {{input id="editProductPrice" class="form-control input-lg" value=model.multimedia.price}}
            </div>
          </div>
          <div class="form-group">
            <label class="control-label col-md-3" style="text-align: left;"><span class="color">Description</span></label>
            <div class="col-md-9">
              {{textarea class="form-control" value=model.multimedia.description cols="40" rows="4"}}
            </div>
          </div>
          <div class="form-group">
            <label class="control-label col-md-3" style="text-align: left;"><span class="color">Product Image </span></label>
            <div>
              <div class="fileinput fileinput-new" data-provides="fileinput">
                <div class="fileinput-new thumbnail" style="width: 200px; height: 100px;">
                  <img data-src="">
                </div>
                <div class="fileinput-preview fileinput-exists thumbnail" style="max-width: 200px; max-height: 150px;"></div>
                <div>
                  <span class="btn btn-default btn-file">
                    <span class="fileinput-new">Select image</span>
                    <span class="fileinput-exists">Change</span>
                    <input type="file" name="..." id="EDITimageInput">
                  </span>
                  <a href="#" class="btn btn-default fileinput-exists" data-dismiss="fileinput">
                    <i class="fa fa-trash-o"></i> Remove
                  </a>
                </div>
              </div>
            </div>
          </div>
          <div class="form-group offset">
            <div class="col-md-offset-3 col-md-9">
              <button class="btn btn-lg btn-success" data-dismiss="modal">Update Product</button>
            </div>
          </div>
        </form>
      </div>
    </section>
  </div>
</div>

{{!-- Video Details Model to be loaded here --}}
<div id="md-videoDetails" class="modal fade md-slideUp bg-theme-inverse" tabindex="-1" data-width="550">
  <div class="modal-header bd-theme-inverse-darken">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true"><i class="fa fa-times"></i>
    </button>
    <h4 class="modal-title"><i class="fa fa-file"></i> Edit Video Details</h4>
  </div>
  <div class="modal-body" style="padding:0">
    <section class="panel">
      <div class="panel-body">
        <form {{ action "UpdateDetails" on="submit"}} class="form-horizontal labelcustomize" data-collabel="3" data-alignlabel="left" data-label="">
          <div class="form-group">
            <label class="control-label col-md-3" style="text-align: left;"><span class="color">Video Title</span></label>
            <div class="col-md-9">
              <input class="form-control input-lg" type="text" placeholder="Something Awesome">
            </div>
          </div>
          <div class="form-group">
            <label class="control-label col-md-3" style="text-align: left;"><span class="color">Video Description </span></label>
            <div class="col-md-9">
              <textarea class="form-control" placeholder="Video Description" rows="5"></textarea>
            </div>
          </div>
          <div class="form-group">
            <label class="control-label col-md-3" style="text-align: left;"><span class="color">Video Tags </span></label>
            <div class="col-md-9">
              <select multiple data-role="tagsinput" >
                <option value="Amsterdam" selected="selected">Fun</option>
                <option value="this" selected="selected">This</option>
                <option value="lol" selected="selected">Clear</option>
                <option value="Some" selected="selected">Some</option>
              </select>
            </div>
          </div>
          <div class="form-group">
            <label class="control-label col-md-3" style="text-align: left;"><span class="color">Thumb Image </span></label>
            <div>
              <div class="fileinput fileinput-new" data-provides="fileinput">
                <div class="fileinput-new thumbnail" style="width: 200px; height: 150px;">
                  <img data-src="">
                </div>
                <div class="fileinput-preview fileinput-exists thumbnail" style="max-width: 200px; max-height: 150px;"></div>
                <div>
                  <span class="btn btn-default btn-file">
                    <span class="fileinput-new">Select image</span>
                    <span class="fileinput-exists">Change</span>
                    <input type="file" name="...">
                  </span>
                  <a href="#" class="btn btn-default fileinput-exists" data-dismiss="fileinput">
                    <i class="fa fa-trash-o"></i> Remove
                  </a>
                </div>
              </div>
            </div>
          </div>
          <div class="form-group offset">
            <div class="col-md-offset-3 col-md-9">
              <button type="submit" class="btn btn-lg btn-success">Update Details</button>
            </div>
          </div>
        </form>
      </div>
    </section>
  </div>
</div>

{{!-- Social Media Hotspot Model to be loaded here --}}
<div id="md-socialHotspot" class="modal fade md-slideUp bg-theme-inverse" tabindex="-1" data-width="550">
  <div class="modal-header bd-theme-inverse-darken">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true"><i class="fa fa-times"></i>
    </button>
    <h4 class="modal-title"><i class="fa fa-group"></i> Add Social Media Hotspot</h4>
  </div>
  <div class="modal-body" style="padding:0">
    <section class="panel">
      <div class="panel-body">
        <form {{action "SocialMedia" on="submit"}} class="form-horizontal labelcustomize" data-collabel="3" data-alignlabel="left" data-label="">
          <div class="form-group">
            <label class="control-label col-md-3" style="text-align: left;"><span class="color">Facebook Link</span></label>
            <div class="col-md-9">
              {{input id="facebook" class="form-control input-lg" value=facebookLink}}
            </div>
          </div>
          <div class="form-group">
            <label class="control-label col-md-3" style="text-align: left;"><span class="color">Twitter Link </span></label>
            <div class="col-md-9">
              {{input id="twitter" class="form-control input-lg" value=twitterLink}}
            </div>
          </div>
          <div class="form-group">
            <label class="control-label col-md-3" style="text-align: left;"><span class="color">Start Time</span></label>
            <div class="col-md-9">
              {{input id="socialStartTime" class="form-control input-lg" value=startTimeHandle}}
            </div>
          </div>
          <div class="form-group">
            <label class="control-label col-md-3" style="text-align: left;"><span class="color">Start Time</span></label>
            <div class="col-md-9">
              {{input id="socialEndTime" class="form-control input-lg" value=endTimeHandle}}
            </div>
          </div>
          <div class="form-group offset">
            <div class="col-md-offset-3 col-md-9">
              <button type="submit" class="btn btn-lg btn-success">Add Social Media Hotspot</button>
            </div>
          </div>
        </form>
      </div>
    </section>
  </div>
</div>

{{!-- ##EDIT## Social Media Hotspot Model to be loaded here --}}
<div id="md-EDITsocialHotspot" class="modal fade md-slideUp bg-theme-inverse" tabindex="-1" data-width="550">
  <div class="modal-header bd-theme-inverse-darken">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true"><i class="fa fa-times"></i>
    </button>
    <h4 class="modal-title"><i class="fa fa-group"></i> Edit Social Media Hotspot</h4>
  </div>
  <div class="modal-body" style="padding:0">
    <section class="panel">
      <div class="panel-body">
        <form {{action "SocialMedia" on="submit"}} class="form-horizontal labelcustomize" data-collabel="3" data-alignlabel="left" data-label="">
          <div class="form-group">
            <label class="control-label col-md-3" style="text-align: left;"><span class="color">Facebook Link</span></label>
            <div class="col-md-9">
              {{input id="facebookEdit" class="form-control input-lg" value=model.social.facebook}}
            </div>
          </div>
          <div class="form-group">
            <label class="control-label col-md-3" style="text-align: left;"><span class="color">Twitter Link </span></label>
            <div class="col-md-9">
              {{input id="twitterEdit" class="form-control input-lg" value=model.social.twitter}}
            </div>
          </div>
          <div class="form-group">
            <label class="control-label col-md-3" style="text-align: left;"><span class="color">Start Time</span></label>
            <div class="col-md-9">
              {{input id="EditSocialStartTime" class="form-control input-lg" value=model.listcomp.starttime}}
            </div>
          </div>
          <div class="form-group">
            <label class="control-label col-md-3" style="text-align: left;"><span class="color">End Time</span></label>
            <div class="col-md-9">
              {{input id="EditSocialEndTime" class="form-control input-lg" value=model.listcomp.endtime}}
            </div>
          </div>

          <div class="form-group offset">
            <div class="col-md-offset-3 col-md-9">
              <button type="submit" data-dismiss="modal" class="btn btn-lg btn-success">Update Social Media Hotspot</button>
            </div>
          </div>
        </form>
      </div>
    </section>
  </div>
</div>

{{!-- Quiz Hotspot Model to be loaded here --}}
<div id="md-quiz" class="modal fade md-slideUp bg-theme-inverse" tabindex="-1" data-width="550">
  <div class="modal-header bd-theme-inverse-darken">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true"><i class="fa fa-times"></i>
    </button>
    <h4 class="modal-title"><i class="fa fa-object-group"></i> Add Quiz</h4>
  </div>
  <div class="modal-body" style="padding:0">
    <section class="panel">
      <div class="panel-body">
        <form id="QuizForm" class="form-horizontal labelcustomize" data-collabel="3" data-alignlabel="left" data-label="">
          <div class="form-group">
            <label class="control-label col-md-3" style="text-align: left;"><span class="color">Question</span></label>
            <div class="col-md-9">
              <input name="question" class="form-control input-lg" type="text" placeholder="Do you like our app?">
            </div>
          </div>
          <div class="form-group">
            <label class="control-label col-md-3" style="text-align: left;"><span class="color">Start Time</span></label>
            <div class="col-md-9">
              {{input id="quizStartTime" class="form-control input-lg" value=startTimeHandle}}
            </div>
          </div>
          <div class="form-group">
            <label class="control-label col-md-3" style="text-align: left;"><span class="color">End Time</span></label>
            <div class="col-md-9">
              {{input id="quizEndTime" class="form-control input-lg" value=endTimeHandle}}
            </div>
          </div>
          <div class="form-group">
            <label class="control-label col-md-3" style="text-align: left;"><span class="color">Options</span></label>
            <div class="col-md-9" id="OptionsContainer">
              <div class="input-group">
                <span class="input-group-btn">
                  <button for="o1" type="button" class="btn clickActive"><i class="fa fa-check optionButton"></i></button>
                </span>
                <input id="o1" name="0" type="text" class="form-control">
              </div>
              <div class="input-group">
                <span class="input-group-btn">
                  <button for="o2" type="button" class="btn clickActive"><i class="fa fa-check optionButton"></i></button>
                </span>
                <input id="o2" name="0" type="text" class="form-control">
              </div>
            </div>
          </div>
          <div class="form-group offset">
            <div class="col-md-offset-3 col-md-9">
              <button {{action "addQuizOption"}} class="btn btn-lg btn-warning">Add Option</button>
              <button {{action "addQuiz"}} type="submit" class="btn btn-lg btn-success">Add Quiz</button>
            </div>
          </div>
        </form>
      </div>
    </section>
  </div>
</div>

{{!-- ##EDIT## Quiz Hotspot Model to be loaded here --}}
<div id="md-EDITquiz" class="modal fade md-slideUp bg-theme-inverse" tabindex="-1" data-width="550">
  <div class="modal-header bd-theme-inverse-darken">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true"><i class="fa fa-times"></i>
    </button>
    <h4 class="modal-title"><i class="fa fa-object-group"></i> Edit Quiz</h4>
  </div>
  <div class="modal-body" style="padding:0">
    <section class="panel">
      <div class="panel-body">
        <form {{action "editQuiz" on="submit"}} class="form-horizontal labelcustomize" data-collabel="3" data-alignlabel="left" data-label="">
          <div class="form-group">
            <label class="control-label col-md-3" style="text-align: left;"><span class="color">Question</span></label>
            <div class="col-md-9">
              {{input id="editQuestion" class="form-control input-lg" value=model.quiz.question}}
            </div>
          </div>
          <div class="form-group">
            <label class="control-label col-md-3" style="text-align: left;"><span class="color">Start Time</span></label>
            <div class="col-md-9">
              {{input id="EditQuizStartTime" class="form-control input-lg" value=model.listcomp.starttime}}
            </div>
          </div>
          <div class="form-group">
            <label class="control-label col-md-3" style="text-align: left;"><span class="color">End Time</span></label>
            <div class="col-md-9">
              {{input id="EditQuizEndTime" class="form-control input-lg" value=model.listcomp.endtime}}
            </div>
          </div>
          <div class="form-group">
            <label class="control-label col-md-3" style="text-align: left;"><span class="color">Options</span></label>
            <div class="col-md-9" id="EDITOptionsContainer">
              {{#each model.quiz.options as |option|}}
              <div class="input-group">
                <span class="input-group-btn">
                  <button for="o1" type="button" class="btn clickActive"><i class="fa fa-check optionButton"></i></button>
                </span>
                {{input class="form-control" value=option.option}}
              </div>
              {{/each}}
            </div>
          </div>
          <div class="form-group offset">
            <div class="col-md-offset-3 col-md-9">
              <button type="submit" class="btn btn-lg btn-success">Update Quiz</button>
            </div>
          </div>
        </form>
      </div>
    </section>
  </div>
</div>

{{!-- Parallel Play Model to be loaded here --}}
<div id="md-parallel" class="modal fade md-slideUp bg-theme-inverse" tabindex="-1" data-width="550">
  <div class="modal-header bd-theme-inverse-darken">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true"><i class="fa fa-times"></i>
    </button>
    <h4 class="modal-title"><i class="fa fa-random"></i> Add Parallel Play</h4>
  </div>
  <div class="modal-body" style="padding:0">
    <section class="panel">
      <div class="panel-body">
        <p class="parallel-tip"><i class="fa fa-clock-o"></i> For best experience, make sure the videos are of same length.</p>
        <form {{action "addParallelPlay" on="submit"}} class="form-horizontal labelcustomize" data-collabel="3" data-alignlabel="left" data-label="">
          <div class="form-group">
            <label class="control-label col-md-3" style="text-align: left;"><span class="color">To Video </span></label>
            <div class="col-md-9">
              {{#x-select value=ParallelPlay class="form-control input-lg"}}
                {{#each model.videos as |video|}}
                  {{#x-option value=video}} {{video.title}} {{/x-option}}
                {{/each}}
              {{/x-select}}
            </div>
          </div>
          <div class="form-group">
            <label class="control-label col-md-3" style="text-align: left;"><span class="color">Start Time</span></label>
            <div class="col-md-9">
              {{input id="paralleStartTime" class="form-control input-lg" value=startTimeHandle}}
            </div>
          </div>
          <div class="form-group">
            <label class="control-label col-md-3" style="text-align: left;"><span class="color">End Time</span></label>
            <div class="col-md-9">
              {{input id="parallelEndTime" class="form-control input-lg" value=endTimeHandle}}
            </div>
          </div>
          <div class="form-group offset">
            <div class="col-md-offset-3 col-md-9">
              <button type="submit" class="btn btn-lg btn-success">Add Parallel Play</button>
            </div>
          </div>
        </form>
      </div>
    </section>
  </div>
</div>

{{!-- ##EDIT## Parallel Play Model to be loaded here --}}
<div id="md-EDITparallel" class="modal fade md-slideUp bg-theme-inverse" tabindex="-1" data-width="550">
  <div class="modal-header bd-theme-inverse-darken">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true"><i class="fa fa-times"></i>
    </button>
    <h4 class="modal-title"><i class="fa fa-random"></i> Edit Parallel Play</h4>
  </div>
  <div class="modal-body" style="padding:0">
    <section class="panel">
      <div class="panel-body">
        <form class="form-horizontal labelcustomize" data-collabel="3" data-alignlabel="left" data-label="">
          <div class="form-group">
            <label class="control-label col-md-3" style="text-align: left;"><span class="color">To Video </span></label>
            <div class="col-md-9">
              {{#x-select value=model.parallel.parallelVideo class="form-control input-lg"}}
                {{#each model.videos as |video|}}
                  {{#x-option value=video}} {{video.title}} {{/x-option}}
                {{/each}}
              {{/x-select}}
            </div>
          </div>
          <div class="form-group">
            <label class="control-label col-md-3" style="text-align: left;"><span class="color">End Time</span></label>
            <div class="col-md-9">
              {{input id="EditParallelStartTime" class="form-control input-lg" value=model.listcomp.endtime}}
            </div>
          </div>
          <div class="form-group">
            <label class="control-label col-md-3" style="text-align: left;"><span class="color">End Time</span></label>
            <div class="col-md-9">
              {{input id="EditParallelEndTime" class="form-control input-lg" value=model.listcomp.endtime}}
            </div>
          </div>
          <div class="form-group offset">
            <div class="col-md-offset-3 col-md-9">
              <button type="submit" data-dismiss="modal" class="btn btn-lg btn-success">Update Parallel Play</button>
            </div>
          </div>
        </form>
      </div>
    </section>
  </div>
</div>

{{!-- CommingSoon Model to be loaded here --}}
<div id="md-comingSoon" class="modal fade md-slideUp bg-theme-inverse" tabindex="-1" data-width="550">
  <div class="modal-header bd-theme-inverse-darken">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true"><i class="fa fa-times"></i>
    </button>
    <h4 class="modal-title"><i class="fa fa-object-group"></i> Comming Soon</h4>
  </div>
  <div class="modal-body" style="padding:0">
    <section class="panel">
      <div class="panel-body">
        <p class="commingSoon">We're working on this feature.</p>
      </div>
    </section>
  </div>
</div>


{{!-- Hidden uplpad Input Form here --}}
<div id="containerInputVideoHidden" style="visibility: hidden;">
  {{input type="file" id="videoInputHidden" value=addedVideo}}
</div>

{{outlet}}
