<div id="nav">
    <div id="nav-scroll">
        <div class="avatar-slide">
            <span class="easy-chart avatar-chart" data-color="theme-inverse" data-percent="69" data-track-color="rgba(255,255,255,0.1)" data-line-width="5" data-size="118">
            <span class="percent"></span>
            <img alt="" src="img/avatar.jpg" class="circle">
            </span>
            <div class="avatar-detail">
                <p><strong>Hi</strong>, Chaitanya</p>
                <span>120,110 Views</span>
                <span>45,340 Subscribers</span>
            </div>
        </div>
        <div class="mail-menu">
            <ul>
                <li class="mail-menu-btn">
                    <button data-toggle="modal" href="#md-messages" class="btn btn-block btn-lightseagreen">Create A Video</button>
                </li>
                <li><a href="#"><i class="fa fa-video-camera"></i> Active Videos<span class="badge">33</span></a>
                </li>
                <li><a href="#"><i class="fa fa-bar-chart-o"></i> Analytics</a>
                </li>
                <li><a href="#"><i class="fa fa-user"></i> Profile</a>
                </li>
                <li><a href="#"><i class="fa fa-info-circle"></i> Help</a>
                </li>
            </ul>
        </div>
    </div>
</div>

<div id="main">
    <div id="content">
        <div class="row">
            <div class="col-md-4">
                <div class="well bg-info">
                    <div class="widget-tile">
                        <section>
                            <h5><strong>VIDEOS</strong> CREATED </h5>
                            <h2>82</h2>
                            <div class="progress progress-xs progress-white progress-over-tile">
                                <div class="progress-bar  progress-bar-white" aria-valuetransitiongoal="20" aria-valuemax="100"></div>
                            </div>
                            <label class="progress-label label-white"> Just 80 VIDEO to limit , <a href="#">Upgrade Now</a> </label>
                        </section>
                        <div class="hold-icon"><i class="fa fa-video-camera"></i>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="well bg-info">
                    <div class="widget-tile">
                        <section>
                            <h5><strong>NEW</strong> HITS </h5>
                            <h2>478</h2>
                            <div class="progress progress-xs progress-white progress-over-tile">
                                <div class="progress-bar  progress-bar-white" aria-valuetransitiongoal="3000" aria-valuemax="10000"></div>
                            </div>
                            <label class="progress-label label-white">Up 30% from YESTERDAY</label>
                        </section>
                        <div class="hold-icon"><i class="fa fa-bar-chart-o"></i>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="well bg-info">
                    <div class="widget-tile">
                        <section>
                            <h5><strong>NEW</strong> SUBSCRIBERS </h5>
                            <h2>300</h2>
                            <div class="progress progress-xs progress-white progress-over-tile">
                                <div class="progress-bar  progress-bar-white" aria-valuetransitiongoal="68" aria-valuemax="100"></div>
                            </div>
                            <label class="progress-label label-white">68.53% of total viewers</label>
                        </section>
                        <div class="hold-icon"><i class="fa fa-user"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <section class="panel">
                    <div class="widget-chart bg-lightseagreen bg-gradient-green">
                        <div id="reportrange" class="pull-right" style="background: rgba(255,255,255,0.3); color:#FFF; cursor: pointer; padding: 5px 10px 10px; margin-top:5px;">
                            <span>
                        </span>
                            <b class="caret"></b>
                        </div>
                        <h2>Views</h2>
                        <table class="flot-chart" data-type="lines" data-tick-color="rgba(255,255,255,0.2)" data-width="100%" data-height="220px">
                            <thead>
                                <tr>
                                    <th></th>
                                    <th style="color : #FFF;">Test</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <th>JAN</th>
                                    <td>4295</td>
                                </tr>
                                <tr>
                                    <th>FEB</th>
                                    <td>5145</td>
                                </tr>
                                <tr>
                                    <th>MAR</th>
                                    <td>1015</td>
                                </tr>
                                <tr>
                                    <th>APR</th>
                                    <td>2500</td>
                                </tr>
                                <tr>
                                    <th>MAY</th>
                                    <td>0</td>
                                </tr>
                                <tr>
                                    <th>JUN</th>
                                    <td>15700</td>
                                </tr>
                                <tr>
                                    <th>JUL</th>
                                    <td>2315</td>
                                </tr>
                                <tr>
                                    <th>AUG</th>
                                    <td>200</td>
                                </tr>
                                <tr>
                                    <th>SEP</th>
                                    <td>5605</td>
                                </tr>
                                <tr>
                                    <th>OCT</th>
                                    <td>1900</td>
                                </tr>
                                <tr>
                                    <th>NOV</th>
                                    <td>1900</td>
                                </tr>
                                <tr>
                                    <th>DEC</th>
                                    <td>1900</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="panel-body">
                        <h3>Last Month</h3>
                        <div class="row align-lg-center">
                            <div class="col-sm-6">
                                <div class="showcase showcase-pie-easy clearfix">
                                    <span class="easy-chart pull-left" data-percent="52" data-color="purple" data-track-color="#EDEDED" data-line-width="15" data-size="140">
                                    <span class="percent"></span>
                                    </span>
                                    <ul>
                                        <li>64,548<small>Total Video view</small>
                                        </li>
                                        <li>3,984<small>Average</small>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="showcase showcase-chart-knob">
                                    <div class="clearfix">
                                        <span>
                                        <i class="fa fa-desktop"></i>
                                        <a href="#">desktop<small>75</small></a>
                                    </span>
                                        <span>
                                        <i class="fa fa-mobile-phone"></i>
                                        <a href="#">mobile<small>25</small></a>
                                    </span>
                                    </div>
                                    <input class="knob" data-animate="true" data-displayInput="false" data-thickness="0.2" data-width="140" data-height="140" data-angleOffset="-125" data-angleArc="250" data-color="darkorange" value="75" readonly>
                                    <h5><i class="fa fa-globe"></i> Desktop </h5>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
            </div>
        </div>
    </div>
    <footer id="site-footer">
        <section>&copy; Copyright 2014, By RatCho Media Private Limited</section>
    </footer>
</div>

<div id="md-messages" class="modal fade md-slideUp bg-theme-inverse" tabindex="-1" data-width="450">
    <div class="modal-header bd-theme-inverse-darken">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"><i class="fa fa-times"></i>
        </button>
        <h4 class="modal-title"><i class="fa fa-inbox"></i> Create a new video</h4>
    </div>
    <div class="modal-body" style="padding:0">
        <div class="widget-im">
            <ul>
                <li>
                    <section class="">
                        <h4><a href="http://localhost:4200/customCreate">Open Video Editor</a>
                    </h4>
                        <label></label>
                        <div class="pre-text"> Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. </div>
                    </section>
                    <div class="im-confirm-group">
                        <div class=" btn-group btn-group-justified">
                            <a class="btn btn-inverse im-confirm" href="javascript:void(0)" data-confirm="yes">YES.</a>
                            <a class="btn btn-theme im-confirm" href="javascript:void(0)" data-confirm="no">NO.</a>
                        </div>
                    </div>
                </li>
            </ul>
            <button class="btn btn-inverse btn-block btn-lg" title="See More"><i class="fa fa-plus"></i>
            </button>
        </div>
    </div>
</div>

{{outlet}}
